.form {
  margin-bottom: 2rem;
}

.forgot {
  display: inline-block;
  color: var(--gray);
  padding: .5rem 0;
  line-height: 1;
}

.forgot::after {
  content: '';
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.signup {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.signup p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--second-type);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: '';
  display: block;
  background: var(--ligh-gray);
  height: .5rem;
  width: 3rem;
  border-radius: .2rem;
}