* {
  box-sizing: border-box; /*sums padding and border to height and width*/
}

body {
  margin: 0;
  --black: #333;
  --white: #eee;
  --yellow: #FB1;
  --dark-yellow: #764701;
  --light-yellow: #FEA;
  --red: #F31;
  --first-type: Helvetica, Arial, sans-serif;
  --second-type: 'Spectral', Georgia;
  font-family: var(--first-type);
  padding-top: 4rem;
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--first-type);
  color: var(--black);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}