@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

* {
  box-sizing: border-box; /*sums padding and border to height and width*/
}

body {
  margin: 0;
  --black: #333;
  --gray: #666;
  --ligh-gray: #ddd;
  --white: #eee;
  --yellow: #FB1;
  --dark-yellow: #764701;
  --light-yellow: #FEA;
  --red: #F31;
  --first-type: Helvetica, Arial, sans-serif;
  --second-type: 'Spectral', georgia;
  font-family: var(--first-type);
  padding-top: 4rem;
}

h1, h2, h3, h4, p, label {
  margin: 0px;
  color: var(--black);
}

ul, li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--first-type);
  color: var(--black);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

.title {
  font-family: var(--second-type);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--yellow);
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: .2rem;
  z-index: -1;
}

.error {
  color: var(--red);
  margin: 1rem 0;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}